* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html, body{
    overflow: hidden;
}

.wrapper {
    width: 100%; height: 100%;
}

img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.scenery {
    width: 100%; height: 50%;
    position: absolute;
    bottom: 0; left: 0;
  }
  
#foreground1, #foreground2 { z-index: 1 ;}
  
#foreground2, #background2 {
    transform: translateX(100%);
}
  
#tree1 {
    top: 10%; left: 10%;
    height: 400px;
}
  
#rock_upright {
    top: 45%; left: 75%;
    height: 200px;
}
  
#rock {
    top: 10%; left: 15%;
    height: 100px;
}
  
#rocks {
    top: 10%; left: 80%;
    height: 100px;
}
  
#rock2_upright {
    top: 5%; left: 28%;
    height: 115px;
}
  
#tree3 {
  top: -15%; left: 90%;
  height: 290px;
}
  
#tree2 {
    top: -12%; left: 40%;
    height: 200px; 
}
  
#bush {
    top: 45%; left: 20%;
    height: 90px;
}

#cube {
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 200px;
    height: 160px;
    z-index: 1;
}
  
 #cube:before {
    content: " ";
    display: block;
    padding-top: 87%;
}
  
#cube img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
}
  
.sky, .earth {
    position: absolute;
    left: 0;
    height: 50vh;
    width: 100%;
}

#mountain {
    width: 100%;
    position: absolute;
    top: 0;
}

.earth{
    background: url( "/images/grass.png") repeat-x 0 0 /  100% auto;
    bottom: 0;
}

.sky{
    background: url("/images/sky.png") repeat-x 100% 100% / auto 100%;
    top: 0;
}

.buttons{
    position: absolute;
    top: 10%; left: 5%;
    z-index: 1;
}

#btn {
    height: 40px; 
    width: 100px;
    padding: 10px;
    border: 1px solid #3498db; 
    background-color: transparent;
    margin: 10px;
    color: #3498db; 
    font-size: 1em; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

#btn:hover {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}
